{% extends "base.html" %}

{% block content %}
<div class="max-w-7xl mx-auto py-6 px-4 border border-blue-400">
    {% if current_user.role == 'ADMIN' %}
    <div class="flex justify-end">
        <a href="{{ url_for('manage_buses') }}" class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700">Back</a>
    </div>
    {% endif %}
    
    <h2 class="text-2xl font-bold mb-4">Buses Inventory</h2>
    <a href="{{ url_for('add_bus') }}" class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">Add New Bus</a>
    
    <ul class="mt-4">
        {% for bus in buses %}
<li class="border-b border-blue-300 py-2 flex justify-between items-center">
<div class="border border-blue-400 p-4 rounded">
                <span class="font-semibold">{{ bus.bus_number_plate }}({{ bus.bus_number }})</span>
                {% if bus.description %}
                <p class="text-sm text-gray-500 mt-1">{{ bus.description }}</p>
                {% endif %}
            </div>
            <div>
                <a href="{{ url_for('edit_bus', bus_id=bus.id) }}" class="text-indigo-600 hover:text-indigo-700">Edit</a>
                <form action="{{ url_for('delete_bus', bus_id=bus.id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="text-red-600 hover:text-red-700 ml-2">Delete</button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
